<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Пост №{{ post.id }}</title>
    <link rel="stylesheet" href="..\..\static\css\post.css">
</head>
<body>
    <div id="main">
        <p class="header_text">{{ post.header }}</p>
        <div class="author">
            <p class="author_name">{{ post.author }}</p>
        </div>
        <div id="post">
            <p>{{ post.text }}</p>
        </div>
        <a href="/" style="text-decoration: none; color: black;">
            <div class="button_back">
                <img class="button_back_img" src="..\..\static\resources\icons\Back.png" alt="Назад">
                <span class="button_back_text">Назад</span>
            </div>    
        </a>
    </div>
</body>
</html>